{% extends "layout.html" %}
{% block title %} Checkout {% endblock %}
{% block content %}
    <div id="list-checkouts" class="list-group"></div>
    <div class="row my-3">
        <form method="post" class="form-group col-md-12 row">
            {% csrf_token %}
            <input type="hidden" name="items" id="items">
            <div class=" form-group col-12 col-md-6">
                <label class="font-weight-bold">Name :</label>
                <input name="name" type="text" class="form-control">
            </div>
            <div class=" form-group col-12 col-md-6">
                <label class="font-weight-bold">Email :</label>
                <input name="email" type="text" class="form-control">
            </div>
            <div class=" form-group col-12 col-md-6">
                <label class="font-weight-bold">State :</label>
                <input name="state" type="text" class="form-control">
            </div>
            <div class=" form-group col-12 col-md-6">
                <label class="font-weight-bold">City :</label>
                <input name="city" type="text" class="form-control">
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="font-weight-bold">Zip :</label>
                <input type="text" class="form-control">
            </div>
            <div class="form-group col-12 col-md-6">
                <label class="font-weight-bold">Total price To Be Paid :</label>
                <input type="text" value="0" name="total" id="total" class="form-control form-control-plaintext" disabled>
            </div>
            <div class="form-group col-md-12">
                <label class="font-weight-bold">Address :</label>
                <textarea name="address" class="form-control" rows="5"></textarea>
            </div>
            <button type="submit" class="btn btn-primary col-12 col-md-6 offset-md-3 my-3">Place Order</button>
        </form>
    </div>
{% endblock %}